<div class="container mt-5">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= render partial: "ai/request_form", locals: { uuid: @uuid } %>
  <%= turbo_stream_from "channel_#{@uuid}" %>
  <div id="ai_output">
    <%= render partial: "ai/output", locals: { generated_idea: "" } %>
  </div>
</div>
